<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrace</title>
</head>
<body>
    <h1>Registrace na vodácký kurz</h1>
    <div id="registrace">
        <label for="nick" id="nick_label">přezdívka</label>
        <input type="text" name="nick" id="nick">
        <label for="nick" id="je_plavec_label">plavec</label>
        <input type="checkbox" name="je_plavec" id="je_plavec">
        <label for="nick" id="kamarad_do_lode_label">kamarád do lodě</label>
        <input type="text" name="kanoe_kamarad" id="kamarad_do_lode">
        <input type="submit" value="odeslat" id="odeslat_button" onclick="over_registraci()">
    </div>
</body>
<script src="../static/Index.js"></script>
</html>